.radio_quyu{margin:30px 0 20px 260px;}
.login_ta{margin:0 20px 0 110px;}
.td1{width:140px; padding-right:10px; text-align:right;}
.prompt_info{top:0; width:260px;}
.checkcode_span{width:220px;}
.p_cor_hui{margin:4px 0 0 260px;}
.login_ta .mt_login, .g_content .mt_login{width:180px;}
.mess{margin-left:10px;}
.width_2 span{width:240px;}
.sucs_div .mt_login{width:200px;}
.validate_info{display:inline-block; width:480px; *display:inline; *zoom:1;}
/* bindAddress */
.bia .ph_mar span{width:260px;}
.bia .marl_1{padding-left:275px;}
/* snsUserinfo */
.snsu .mess{width:430px;}
/* upgradeUser */
.upus .login_ta{margin:0 20px 0 160px;}
.upus .new_mar{margin:20px 0 20px 160px;}
.upus .content_p{margin:20px 0 0 160px;}
/*  selectResetAddress  */
.sra .sub_bg{width:180px;}
/* verifyEmailTicket */
.vet .width_2{width:898px;}
.vet .width_2 span{width:200px;}
